@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #2c292c;
  background-color: #f7eff7;
}

ol,
ul {
  list-style: none;
}

.btn {
  color: #ffffff;
  padding: 8px 24px;
  background-color: #8c00ff;
  border: 1px solid #8c00ff;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #4f0abe;
  border-color: #4f0abe;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: #8c00ff;
}
.btn-alt:hover {
  background-color: #e6c9fc;
  border-color: transparent;
}

#header {
  text-align: center;
  color: #ffffff;
  background-color: #8c00ff;
  padding: 32px 5%;
}

body #backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
body #backdrop.on {
  display: block;
}
body main .modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}
body main .modal.on {
  display: block;
}
body main .modal h2 {
  margin: 8px 0;
}
body main .modal form {
  margin: 8px 0;
}
body main .modal form .input-wrap label {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
}
body main .modal form .input-wrap input {
  width: 240px;
  padding: 5.6px;
  border: 1px solid #cccccc;
}
body main .modal form .input-wrap.error label {
  color: #ff0000;
}
body main .modal form .input-wrap.error input {
  color: #ff0000;
  background-color: #fddbdb;
  border-color: #ff0000;
}
body main .modal form #error-msg {
  font-size: 12px;
  color: #ff0000;
}
body main .modal form .btn-wrap {
  margin-top: 16px;
}
@media (max-width: 768px) {
  body main .modal {
    left: calc(50% - 320px);
    width: 640px;
  }
}
body main #game-configuration {
  width: 90%;
  max-width: 640px;
  text-align: center;
  margin: 48px auto;
}
body main #game-configuration ol {
  display: flex;
}
body main #game-configuration ol li {
  width: 50%;
  padding: 16px;
  margin: 16px;
  background-color: #f3e3ff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}
body main #game-configuration ol li .player-board h2 {
  font-size: 16px;
  margin: 8px 0;
}
body main #game-configuration ol li .player-board h3 {
  font-size: 24px;
  margin: 8px 0;
  color: #5e04a8;
}
body main #game-configuration ol li .player-board .player-symbol {
  font-size: 32px;
  font-weight: 700;
  color: #2f0452;
  margin: 8px 0;
}
body main #play-game {
  text-align: center;
  margin: 32px 0 80px 0;
}
body main #play-game #game-over {
  width: 90%;
  max-width: 640px;
  padding: 16px 32px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #320557;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}
body main #play-game #game-over h2 {
  font-size: 40px;
  margin: 8px 0;
}
body main #play-game #turn-player {
  font-weight: 700;
  color: #320557;
}
body main #play-game #game-board {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: repeat(3, 96px);
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}
body main #play-game #game-board li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  background-color: #d7bbf7;
  border-radius: 2px;
}
body main #play-game #game-board li:hover {
  background-color: #700dcc;
  cursor: pointer;
}
body main #play-game #game-board li.disabled {
  color: #ffffff;
  background-color: #700dcc;
  cursor: default;
}